<div class="home-container">
  <div class="home-header">
    <div class="row">
      <div class="col s3">
        <a routerLink="/contacts">
          <i class="small material-icons">contact_phone</i>
        </a>
      </div>
      <div class="col s6 center-align">
        <span class="last-updated center-align">Updated {{dt | timeAgo}}</span>
      </div>
      <div class="col s3 right-align">
        <a routerLink="/settings">
          <i class="small material-icons">settings</i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <a>
          <img src="https://picsum.photos/200?image=996" width="80" height="80" alt="" class="circle responsive-img">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <h4 class="person-title">{{(person | async)?.title}} {{(person | async)?.name}}</h4>
        <h6 class="person-note">{{(person | async)?.note}}</h6>
      </div>
    </div>
  </div>

  <div id="location-background" class="row">

  </div>

  <div id="daily-activities" class="row">

    <ng-container *ngIf="dailyActivities?.length">

      <div id="summary">
        <div id="title">In the last 24 hours</div>
        <div id="activity-type-container">

          <div class="activity-type-container">
            <div class="activity-type">
              <i class="material-icons">snooze</i>
            </div>
            8 hours
          </div>

          <div class="activity-type-container">
            <div class="activity-type">
              <i class="material-icons">kitchen</i>
            </div>
            2 times
          </div>

          <div class="activity-type-container">
            <div class="activity-type">
              <i class="material-icons">exit_to_app</i>
            </div>
            8 hours
          </div>

        </div>
      </div>

      <div id="today-title">Today</div>

      <div id="timeline-container">
        <div id="timeline-line"></div>
        <div *ngFor="let activity of dailyActivities" class="activity">
          <div class="name">{{activity.name}}</div>
          <div class="time">
            {{activity.time|date:'hh:mm'}}
            <i class="material-icons">chevron_right</i>
          </div>
        </div>
      </div>

    </ng-container>


    <div id="load-more-btn">LOAD ANOTHER DAY</div>

    <ng-container *ngIf="!dailyActivities?.length">
      <div id="no-result">
        <i class="material-icons">sentiment_very_dissatisfied</i>
        no activities found in the last 24 hours...
      </div>
    </ng-container>

  </div>

</div>
