<div class="home-container">
  <div class="home-header">
    <div class="row">
      <div class="col s3">
        <a routerLink="/contacts">
          <i class="small material-icons">contact_phone</i>
        </a>
      </div>
      <div class="col s6 center-align">
        <span class="last-updated center-align">Updated {{dt | timeAgo}}</span>
      </div>
      <div class="col s3 right-align">
        <a routerLink="/settings">
          <i class="small material-icons">settings</i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <a>
          <img src="https://picsum.photos/200?image=996" width="80" height="80" alt="" class="circle responsive-img">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <h4 class="person-title">{{(person | async)?.title}} {{(person | async)?.name}}</h4>
        <h6 class="person-note">{{(person | async)?.note}}</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">

    </div>
  </div>
</div>

