@import (reference) "mixins";

html, body, .container {
  height: 100%;
  font-family: Heebo;
}

.container {
  width: 100%;

  //.desktop({ width: 40%; });


}

a {
  cursor: pointer;
  color: inherit;
}

// global colors
@branding-primary-rgb: 20, 174, 254;
@branding-secondary-rgb: 248, 99, 99;


// material buttons
@branding-primary-bg: rgb(@branding-primary-rgb);
@branding-secondary-bg: rgb(@branding-secondary-rgb);
.btn {
  &.primary {
    background-color: @branding-primary-bg;

    &:hover {
      background-color: rgb(@branding-primary-rgb, 0.7);
    }
  }

  &.secondary {
    background-color: @branding-secondary-bg;

    &:hover {
      background-color: rgb(@branding-secondary-rgb, 0.7);
    }
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}

// todo: define error/warning/alert colors

@import url("https://use.typekit.net/kxm5oig.css");
html, body {
  height: 100%;
  font-family: 'zeitung', serif;
  font-family: 'chevin-pro', serif;
  font-family: 'nimbus-sans', serif;
  font-family: 'neue-haas-unica', serif;
  font-family: 'proxima-nova', serif;
  font-weight: 500;
}
