html, body, .container {
  height: 100%;
}

.container {
  background-image: linear-gradient(191deg, #1fa4ff, #1bd9f7 50%, #b2f9e6 63%, #ededed);
  padding: 16px;
  font-family: Heebo;
}

a {
  cursor: pointer;
  color: inherit;
}

// global colors
@branding-primary-rgb: 20, 174, 254;
@branding-secondary-rgb: 248, 99, 99;


// material buttons
@branding-primary-bg: rgb(@branding-primary-rgb);
@branding-secondary-bg: rgb(@branding-secondary-rgb);
.btn {
  &.primary {
    background-color: @branding-primary-bg;

    &:hover {
      background-color: rgb(@branding-primary-rgb, 0.7);
    }
  }

  &.secondary {
    background-color: @branding-secondary-bg;

    &:hover {
      background-color: rgb(@branding-secondary-rgb, 0.7);
    }
  }
}

@media (max-width: 600px){
  .container {
    background-image: linear-gradient(191deg, #1fa4ff, #1bd9f7 50%, #b2f9e6 63%, #ededed);
    width: 100%;
    padding: 16px;
  }
}

// todo: define error/warning/alert colors
